
html>body .sortable li { height: 1.9em; line-height: 1.4em; }
.ui-state-highlight { height: 1.9em; line-height: 1.4em; }
#sidi-cover-button > img {
    border: 1px solid #dddddd;
    max-width: 100%;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.sidi-track-track {
    text-align: right;
    width: 37px;
}
.sidi-track-num {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333333;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    line-height: 15px;
    margin: 1px;
    padding: 3px 5px;
    text-align: right;
    width: 37px;
}
.sidi-traks li .sidi-track-num:hover {
    cursor: pointer;
}
.sidi-traks li.ui-sortable-helper .sidi-track-num{
    cursor: move;
}
.sidi-track-cente {
    margin-left: 55px;
    margin-right: 88px;
}
.sidi-track-title {
    width: 100%;
}
.sidi-track-time {
    float: right;
    text-align: right;
    width: 55px;
}
.sidi-del-track {
    background: url("../images/icon-trash.png") no-repeat scroll -20px 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    text-indent: -5000px;
    width: 20px;
}
.sidi-del-track:hover {
    background-position: 0 0;
}