.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.sidi ul, .widget .sidi ul {
    line-height: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.sidi ul li.list-style-none,.widget-area .widget .sidi ul li.list-style-none {
    list-style-type: none;
    margin: 0;
}
.sidi ul li.sidi-album, .widget-area .widget .sidi ul li.sidi-album {
    margin-bottom: 20px;
}
.sidi .sidi-cover {
    float: left;
    height: 150px;
    width: 150px;
}
.sidi .sidi-cover img {
    border: 1px solid #888;
    max-height: 150px;
    max-width: 150px;
    margin-bottom: 0;
}
.sidi .sidi-list .sidi-album .sidi-content {
    margin-left: 170px;
}
.sidi .sidi-header {
    border-bottom: 1px solid rgb(235, 235, 235);
    height: 27px;
}
.sidi .sidi-album-title {
    clear: none;
    float: left;
    font-size: 17px;
    line-height: 1.6;
    margin: 0;
}
.sidi .sidi-album-title > a {
    color: #000;
    text-decoration: none;
}
.sidi .sidi-album-title > a:visited {
    color: #000;
}
.sidi .sidi-release {
    color: #808080;
    float: right;
    font-size: small;
    line-height: 27px;
}
.sidi .sidi-list .sidi-excerpt {
    /*min-height: 125px;*/
    margin-top: 1px; /* Fix a weird non-clearing issue */
}
.sidi .sidi-list .sidi-discs {
    background: none repeat scroll 0 0 #eee;
    /*display: none;*/
    margin: 20px 0;
    padding: 1rem;
    position: relative;
}
.sidi .sidi-disc {
    margin-bottom: 1rem;
}
.sidi .sidi-num-disc {
    clear: none;
    font-size: 1rem;
    margin: 0;
    text-align: center;
}
.sidi .sidi-num-track {
    color: #8494a1;
    float: left;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: small;
    text-align: right;
    width: 25px;
}
.sidi .sidi-time-track {
    color: #8494a1;
    float: right;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: small;
    text-align: right;
    width: 50px;
}
.sidi .sidi-title-track {
    display: block;
    margin-left: 25px;
    margin-right: 50px;
    padding: 0 15px;
    text-align: left;
}
.sidi .sidi-title-track.sidi-notime-track {
    margin-right: 0;
}
.sidi .sidi-list .sidi-album.discs-hidden .sidi-discs {
    display: none;
}

.sidi .sidi-single .sidi-cover {
    margin: 0 15px 10px 0;
}
.sidi .sidi-thumbnail {
    position: relative;
    text-align: center;
}
.sidi .sidi-thumbnail .sidi-album, .widget-area .widget .sidi .sidi-thumbnail .sidi-album {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    /*position: relative;*/
}
.sidi .sidi-thumbnail .sidi-cover-link {
    display: inline-block;
    height: 153px;
    margin-bottom: 4px;
}
.sidi .sidi-thumbnail .sidi-album .sidi-content {
    background: none repeat scroll 0 0 #e4e9f0;
    border: 1px solid #aaaeb3;
    left: 0;
    margin-left: 0px;
    margin-right: 20px;
    /*padding: 1rem 1rem 0;*/
    position: absolute;
    width: 100%;
}
.sidi .sidi-thumbnail .sidi-album.discs-hidden .sidi-content {
    display: none;
}
.sidi .sidi-thumbnail .sidi-album.discs-show .sidi-content {
    display: block;
    margin-top: 191px;
}
.sidi .sidi-thumbnail .sidi-album.discs-show .sidi-cover {
    /*height: 600px;*/
}
.sidi .sidi-thumbnail .sidi-header,.sidi .sidi-thumbnail .sidi-excerpt,.sidi .sidi-thumbnail .sidi-discs{
    margin-left: 1rem;
    margin-right: 1rem;
}
.sidi .sidi-thumbnail .sidi-header{
    margin-top: 1rem;
}
.sidi .sidi-thumbnail .sidi-excerpt{
    margin-bottom: 20px;
    text-align: left;
}
.sidi .sidi-thumbnail .sidi-thumbnail-title-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 800px) {
    .sidi .sidi-cover {
        height: auto !important;
        text-align: center;
    }
    .sidi .sidi-list .sidi-content {
        margin: 0 !important;
    }
    .sidi .sidi-list .sidi-cover{
        float: none !important;
        margin: 0 0 2rem 0 !important;
        width: 100% !important;

    }
}
